.uno-loader progress::-moz-progress-bar {
    /* Firefox */
    background-color: var(--accent-color, #0D47A1) !important;
}

.uno-loader progress::-webkit-progress-value {
    /* Chrome & Safari */
    background-color: var(--accent-color, #0D47A1) !important;
}

.uno-loader[loading-position='top'] progress {
    color: var(--accent-color, #0D47A1) !important;
}

.uno-loader[loading-alert] .alert {
    /* Position */
    color: var(--accent-color, #0D47A1) !important;
}