.uno-loader {
    /* Main container of the loader */
    background-color: var(--bg-color, #0D47A1) !important;
}

.uno-loader progress::-moz-progress-bar {
    /* Firefox */
    background-color: var(--accent-color, #2E7D32) !important;
}

.uno-loader progress::-webkit-progress-value {
    /* Chrome & Safari */
    background-color: var(--accent-color, #2E7D32) !important;
}

.uno-loader[loading-position='top'] progress {
    color: var(--accent-color, #2E7D32) !important;
}

.uno-loader[loading-alert] .alert {
    /* Position */
    color: var(--accent-color, #2E7D32) !important;
    background: #0D47A1 !important;
}